body {
  font-family: Arial;
  background-color: #f4f4f4;
}

header {
  background: #333;
  color: white;
  padding: 10px;
}
nav a {
  margin: 10px;
  text-decoration: none;
  color: blue;
}
h2:hover {
  color: blue;
}
nav a:hover {
  color: red;
}
@media (max-width: 600px) {
  body {
    font-size: 14px;
  }
}